body {
    padding: 0px;
    margin: 0px;
}

main {
    padding: 10px 10px 30px 30px;
    background-color: rgb(201, 200, 162);
}

nav {
    color: white;
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: rgb(1, 49, 98);
}

nav h2 {
    padding: 0px;
}

nav p {
    color: rgb(222, 191, 15);
    font-weight: bold;
}

.userlinks {
    display: grid;
    column-gap: 20px;
    grid-template-columns: 100px 100px 100px;
}

nav a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

nav a:visited {
    color: rgba(255, 255, 255, 0.756);
    background-color: transparent;
    text-decoration: none;
}

nav a:hover {
    color: rgb(222, 191, 15);
    background-color: transparent;
    text-decoration: underline;
}

nav a:active {
    color: rgb(222, 191, 15);
    background-color: transparent;
    text-decoration: none;
}

footer {
    color: rgb(165, 165, 165);
    border-top: 1px solid black;
    padding: 16px;
    background-color: rgb(1, 49, 98);
}

table,
th,
td {
    border: 1px solid;
    border-collapse: collapse;
}

th {
    padding: 10px;
}

tr:nth-child(odd) {
    background: rgb(172, 172, 172);
}

td {
    padding: 10px;
}


td a {
    color: rgb(12, 52, 100);
    text-decoration: none;
}

.namecolumn {
    font-weight: bold;
}

button {
    background-color: antiquewhite;
}

.projdescrip {
    background-color: antiquewhite;
}
