{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel ="stylesheet" type="text/css" href="{% static "css/projects.css" %}" />
        <title>
            {% block title %}
            {% endblock title %}
        </title>
    </head>
    <body>
        <header>
            <nav>
                <h2>Project Tracker</h2>
                {% if user.is_authenticated%}
                    <p>User: {{ user.username }}</p>
                {% endif %}
                <p class = "userlinks">
                    {% if user.is_authenticated %}
                        <a href="{% url 'show_my_tasks' %}">My Tasks</a>
                        <a href="{% url 'list_projects' %}">My Projects</a>
                        <a href="{% url 'logout' %}">Logout</a>
                    {% else %}
                        <a href="{% url 'login' %}">Login</a>
                        <a href="{% url 'signup' %}">Signup</a>
                    {% endif %}
                </p>
            </nav>
        </header>
        {% block content %}
        {% endblock content %}
        <footer>
            Created by Wanda L. McCrae
        </footer>
    </body>
</html>
