{% extends 'base.html' %}

{% block title %}
    Tracker: My Tasks
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            {% if not usertasklist %}
                <p>You have no tasks.</p>
            {% else %}
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Project Name</th>
                        <th>Start Date</th>
                        <th>Due Date</th>
                        <th>Is Completed</th>
                        <th>Assigned By</th>
                    </tr>
                    {% for task in usertasklist.all %}
                        <tr>
                            <td class="namecolumn">
                                {{ task.name }}
                            </td>
                            <td>{{ task.project }}</td>
                            <td>{{ task.start_date }}</td>
                            <td>{{ task.due_date }}</td>
                            <td>{{ task.is_completed|yesno }}</td>
                            <td>{{ task.assigner }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}
