{% extends 'base.html' %}

{% block title %}
    Project Tracker: {{ tasklist.name }}
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>{{ tasklist.name }}</h1>
            <p class="projdescrip">{{ tasklist.description }}</p>
                <a href="{% url "edit_proj" tasklist.id %}">
                    <button>Edit Project</button>
                </a>
            <h2>Tasks</h2>
            <p>
                <a href="{% url "create_task" %}">
                    <button>New Task</button>
                </a>
            </p>
            {% if not tasklist.tasks.all|length %}
                <p>This project has no tasks.</p>
            {% else %}
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start Date</th>
                        <th>Due Date</th>
                        <th>Is Completed</th>
                        <th>Assigned By</th>
                    </tr>
                    {% for task in tasklist.tasks.all %}
                        <tr>
                            <td class="namecolumn">
                                <a href="{% url 'edit_task' task.id %}">
                                    {{ task.name }}
                                </a>
                            </td>
                            <td>{{ task.assignee }}</td>
                            <td>{{ task.start_date }}</td>
                            <td>{{ task.due_date }}</td>
                            <td>{{ task.is_completed|yesno }}</td>
                            <td>{{ task.assigner }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}
