{% extends 'base.html' %}

{% block title %}
    Tracker: My Projects
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>My Projects</h1>
            <p>
                <a href="{% url "create_project" %}">
                    <button>New Project</button>
                </a>
            </p>
            {% if not projectlist %}
                <p>You have not created any projects.</p>
            {% else %}
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Number of Tasks</th>
                    </tr>
                    {% for project in projectlist %}
                        <tr>
                            <td class="namecolumn">
                                <a href="{% url "show_project" project.id %}">
                                    {{ project.name }}
                                </a>
                            </td>
                            <td>{{ project.tasks.all|length }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}
